*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
*.synctex(busy)
*.fls

*
.*
!note/
!note/**/*.tex
!note/*.bib
!note/*.pdf
!note/*.sty
!note/Figures/*
!.gitignore
